body {
    margin:  0;
    font-family: 'Open Sans', sans-serif;
}

.dropdown {
    position: absolute;
    font-size: 13.3333px;
    top: 29px;
    max-height: 30em;
    overflow: auto;
    width: 300px;
    background-color: rgb(212, 212, 212);
    padding: 7px;
}
.float-label {
    font-size: 13.3333px;
    margin: 5px;
}

.dropdown-input:focus + .dropdown {
    visibility: visible;
}

.float-label {
    position: relative;
    display: inline-block;
}

.float-label > input {
    padding: 5px;
    border-radius: 2px;
    width: 300px;
    box-sizing: content-box;
}

.float-label > label {
    position: absolute;
    top: 5px;
    left: 10px;
    transition: 140ms top;
}

.float-label > input:focus + label {
    top: -20px;
}

.float-label > input:valid + label {
    top: -20px;
}

.course > h1 {
    cursor: pointer;
    transition: transform 200ms;
}

.course > h1:hover {
    transform: translate(-2px, 2px)
}

.course.expanded > h1 {
    transform: translate(-2px, 2px)
}

.search .course-list {
    margin-top: 100px;
}

.week {
    display: inline-block;
}

.week .inuse,.week .free {
    display: inline-block;
    margin: 1px;
    padding: 2px;
    width: 10px;
    height: 10px;
    line-height: 10px;
    font-size: 10px;
    border: solid black 1px;
    text-align: center;
    border-radius: 100%
}

.week .inuse {
    font-weight: bold;
    color: white;
    background-color: black
}

td {
    padding: 10px;
}

th {
    padding-bottom: 15px;
}

.course .description {
    width: 50%;
    float: left;
}

.course .course-list {
    width: 50%;
    float: right;
}

.link {
    cursor: pointer;
}

.filter .float-label {
    margin-top: 20px;
    display: inline-block;
}
