body {
    margin:  0;
    font-family: 'Open Sans', sans-serif;
}

.dropdown {
    position: absolute;
    background: white;
}

.dropdown-input:focus + .dropdown {
    visibility: visible;
}

.float-label {
    position: relative;
}

.float-label > input {
    margin: 5px;
    margin-left: 100px
}

.float-label > label {
    position: absolute;
    top: 5px;
    left: 105px;
}

.float-label > input:focus + label {
    left: 0px;
}

.float-label > input:valid + label {
    left: 0px;
}